@use '../../abstracts' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: fluid-value(24, 36) fluid-value(32, 36);
  z-index: 50;
  transition: background-color 0.5s ease-out;

  &.active {
    background-color: $peach-100;
  }

  &__menu {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;

    @include mq($l_sm) {
      display: none;
    }

    &--desktop {
      display: none;

      @include mq($l_sm) {
        display: flex;
      }
    }
  }

  &__menu-drawer {
    display: grid;
    align-content: start;
    @include fluid-full(grid-row-gap, 40, 48, 375, 1280);
    padding: fluid-value(40, 48) fluid-value(32, 40);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: $peach-200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &.active {
      transform: translateX(0);
    }

    @include mq($l_sm) {
      display: none;
    }
  }

  &__cart-icon {
    @include fluid-full(height, 24, 32);
  }

  &__link {
    font-weight: 400;
  }

  &__link--cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__cart-item-number {
    color: $heading-100;
    position: absolute;
    transform: translateY(2px);
    @include fluid-full(font-size, 10, 14);
    font-weight: 600;
  }

  &-offset {
    background-color: $peach-100;
  }

  @include mq($d_md) {
    padding: toRem(36);
  }

  @include mq($l_sm) {
    &__link {
      color: $text-100;
      &:not(:last-child) {
        @include fluid-full(margin-right, 32, 48, 1281);
      }
    }
  }
}
